<%= form_with model: @event, local: true do |form| %>

    <% if @event.errors.any? %>
        <div id="error_explanation">
            <h2>
                <%= pluralize(@event.errors.count, "error") %> prohibited
                this event from being saved:
            </h2>
            <ul>
                <% @event.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <p>
        <%= form.label :name %><br>
        <%= form.text_field :name %>
    </p>

    <p>
        <%= form.label :description %><br>
        <%= form.text_area :description %>
    </p>

    <p>
        <%= form.label :teamsize %><br>
        <%= form.number_field :teamsize %>
    </p>

    <p>
        <%= form.label :points_for_win %><br>
        <%= form.number_field :points_for_win %>
    </p>

    <p>
        <%= form.label :points_for_loss %><br>
        <%= form.number_field :points_for_loss %>
    </p>

    <p>
        <%= form.submit %>
    </p>
<% end %>