<%= form_with model: @player, url: [@event, @player], local: true do |form| %>

    <% if @player.errors.any? %>
        <div id="error_explanation">
            <h2>
                <%= pluralize(@player.errors.count, "error") %> prohibited
                this player from being saved:
            </h2>
            <ul>
                <% @player.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <p>
        <%= form.label :name %><br>
        <%= form.text_field :name %>
    </p>

    <p>
        <%= form.label :TrueSkill_Deviation %><br>
        <%= form.number_field :tdeviation , step: :any, :value => @player.tdeviation.present? ? @player.tdeviation : 8.33333 %>
    </p>

    <p>
        <%= form.label :TrueSkill %><br>
        <%= form.number_field :tskill , step: :any, :value => @player.tskill.present? ? @player.tskill : 25 %>
    </p>

    <p>
        <%= form.label :Event_Points %><br>
        <%= form.number_field :points , step: :any , :value => @player.points.present? ? @player.points : 0 %>
    </p>

    <p>
        <%= form.submit %>
    </p>
<% end %>